# Some files to be ignored by git

# Vim temporay files
*.swp

# Emacs tempory files
~*

# Storage files
*.json

# Ignore pycache directory
__pycache__/

# Backup files created by Aspell command
*.bak
